# Configurações do Banco de Dados PostgreSQL
DB_USER=postgres
DB_HOST=seu_host_postgresql
DB_NAME=loteria_db
DB_PASSWORD=sua_senha_postgresql
DB_PORT=5432
DB_SSL=true

# Configurações da Aplicação
JWT_SECRET=seu_jwt_secret_super_seguro_aqui
PORT=3001
NODE_ENV=development
